.container{
    padding:1em;
    display:flex;
    width: 100vw;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.seconds, .minutes, .hour{
    line-height: 45px;
    position:  relative;
    transform-origin: bottom;
}
.hour{
    background-color: red;
    width: 3em;
    height:1em;
    position: relative;
    right: 1.5em;
    z-index: 1;
    animation: hour_anime 3600s linear;
}
.minutes{
    background-color:yellow;
    width: 5em;
    height: 1em;
    position: relative;
    right: 2.5em;
    z-index: 2;
    animation: min_anime 360s linear;
}
.seconds{
    background-color:blue;
    width: 5em;
    height: 1em;
    line-height: 45px;
    position: relative;
    left: 250px;
    
}
.clock{
    height: 20em;
    width:20em;
    border-radius: 10em;
    display: inline-block;
    background-color: black;
}
@keyframes sec_anime {
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(0deg);}
}