.clock{
    border-radius: 50%;
    background: #fff url("https://cssanimation.rocks/images/posts/clocks/ios_clock.svg") no-repeat center;
    background-size: 40%;
    height: 20em;
    padding-bottom: 31%;
    position: relative;
    width: 20em;
}

.clock.simple:after {
    background: #000;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    z-index: 10;
  }
  .minutes-container, .hours-container, .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .hour{
    top: 82px;
    height: 44px;
    width: 3px;
    left: 49.4%;
    background: rgb(214, 16, 16); 
    position: absolute;   
    box-shadow: 2px 2px 28px 2px black;
}
.minutes{
    top: 54px;
    height: 90px;
    width: 5px;
    box-shadow: 2px 2px 28px 4px black;
    left: 61%;
    background: black; 
    position: absolute;   
    transform: rotate(45deg);
}
.seconds{
    top: 73px;
    height: 100px;
    width: 4px;
    left: 68%;
    background: rgb(191, 187, 196); 
    box-shadow: 2px 2px 28px 4px black;
    opacity: 0.3;
    position: absolute;   
    transform: rotate(82deg);

}
  @keyframes rotate {
    100% {
      transform: rotateZ(360deg);
    }
  }
  .hours-container {
    animation: rotate 43200s infinite linear;
  }
  .minutes-container {
    animation: rotate 3600s infinite linear;
  }
  .seconds-container {
    animation: rotate 60s infinite linear;
  }